---
import { Image } from "astro:assets";
import { getImage } from "astro:assets";
import { getCollection } from "astro:content";
import { Bible, Circle, Cross, Hexagon, Star, Triangle } from "@bibleio/design";
import Layout from "../../layouts/Layout.astro";

const blogs = await getCollection("blog", ({ data }) => {
	return import.meta.env.PROD ? data.draft !== true : true;
});
---

<Layout title="Apps">
  <section
    id="landing"
    class="relative flex h-[66vh] flex-col items-start justify-center gap-24 overflow-clip border-b border-stroke px-256 py-16 max-[480px]:p-16"
  >
    <h1
      class="motion-preset-fade-lg pt-72 text-center text-[192px] leading-none text-text-solid max-[1280px]:text-[8rem] max-[480px]:text-[5.75rem]"
    >
      Blog
    </h1>
    <div
      class="h-full absolute justify-end items-center left-[20%] -z-50 flex flex-col gap-64"
    >
      <div class="flex flex-col gap-64 justify-end items-center motion-translate-y-loop-[50%]/reset motion-duration-[20s] motion-ease-linear">
        <Cross />
        <Bible />
        <Circle />
        <Star />
        <Hexagon />
        <Triangle />
        <Cross />
        <Bible />
        <Circle />
        <Star />
        <Hexagon />
        <Triangle />
      </div>
    </div>
  </section>
  <section id="main" class="flex flex-col px-256 max-[1550px]:px-0">
    <div id="container" class="divide-y divide-stroke border-l border-stroke">
      <div class="grid grid-cols-2 max-[820px]:grid-cols-1">
        {
          blogs.map((blog) => (
            <a
              href={`/blog/${blog.slug}`}
              class="flex flex-col border-b border-r border-stroke text-text"
            >
              <Image
                alt={blog.data.title}
                src={blog.data.image}
                width={1200}
                height={600}
                class="aspect-[16/6] h-auto w-full object-cover"
              />
              <div class="flex h-fit flex-col gap-12 px-48 py-24 max-[580px]:p-16">
                <h3 class="text-h3 leading-none">{blog.data.title}</h3>
                <time
                  class="text-body leading-none"
                  datetime={blog.data.date.toISOString()}
                >
                  {blog.data.date.toDateString()}
                </time>
              </div>
            </a>
          ))
        }
      </div>
    </div>
  </section>
</Layout>
