---
import type { CollectionEntry } from "astro:content";
import { getCurrentLevelItems } from "@korhq/unpreview";

type PreviewType = CollectionEntry<"previews">;
interface Props {
	items: PreviewType[];
	parentId?: string;
}
const { items, parentId } = Astro.props;

const currentLevelItems = getCurrentLevelItems(items, parentId);
---
<div class="flex flex-col gap-8">
{
  currentLevelItems.map((item) => {
    if (item.data.directory) {
      return (
        <details open>
          <summary>{item.data.title}</summary>
          <div class="flex flex-col gap-2 pl-16 pt-8">
            <Astro.self items={items} parentId={item.id} />
          </div>
        </details>
      );
    } else
      return (
        <a
          href={`/playground/${item.id}`}
          class={` ${
            Astro.url.pathname === `/playground/${item.id}` && "text-accent-reversed font-semibold"
          }`}
        >
          {item.data.title}
        </a>
      );
  })
}
</div>
