---
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";
import {
  Circle,
  Cross,
  Bible,
  Star,
  Hexagon,
} from "../../components/ui/Shapes";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

const blogs = await getCollection("blog");
---

<Layout title="Blog - Bibleio">
  <section
    id="landing"
    class="h-[50vh] p-32 max-[860px]:p-16 flex flex-col gap-24 justify-end items-start relative overflow-clip border-b border-light-stroke"
  >
    <h1
      class="italic text-[192px] leading-none text-light-text max-[600px]:text-[92px]"
    >
      Blog
    </h1>
    <div class="absolute w-full h-full -z-50">
      <img
        src="/shapes/circle.svg"
        class="fill-light-blue stroke-1 stroke-light-stroke size-[23vmax] absolute bottom-[57%] left-[40%] max-[700px]:bottom-[80%] max-[450px]:left-[20%]"
      />
      <img
        src="/shapes/cross.svg"
        class="fill-light-yellow stroke-1 stroke-light-stroke size-[30vmax] absolute left-[50%] top-[50%] max-[700px]:top-[25%] max-[450px]:left-[30%]"
      />
      <img
        src="/shapes/bible.svg"
        class="fill-light-gray stroke-1 stroke-light-stroke size-[27vmax] absolute bottom-[50%] max-[700px]:bottom-[60%] max-[700px]:right-[75%] max-[450px]:right-[85%]"
      />
      <img
        src="/shapes/hexagon.svg"
        class="fill-light-purple stroke-1 stroke-light-stroke size-[29vmax] absolute top-[60%] left-[80%]"
      />
      <img
        src="/shapes/star.svg"
        class="fill-light-green stroke-1 stroke-light-stroke size-[27vmax] absolute bottom-[50%] left-[70%] max-[700px]:left-[85%] max-[700px]:bottom-[70%]"
      />
    </div>
  </section>
  <section
    id="blogs"
    class="flex flex-col gap-24 items-center justify-center px-256 max-[1350px]:px-64 py-64 max-[860px]:p-16"
  >
    {
      blogs.map((blog) => (
        <a
          class="grid grid-cols-3 h-256 max-[860px]:h-[55vh] max-[480px]:h-[65vh] max-[860px]:flex max-[860px]:flex-col bg-light-fg-1 w-full rounded-16 overflow-clip border border-light-stroke hover:drop-shadow-xl hover:-translate-y-6 duration-[200ms] ease-out"
          href={`/blog/${blog.slug}`}
        >
          <div class="flex flex-col justify-between gap-24 p-32 max-[860px]:p-16 col-span-2 h-full">
            <div class="flex flex-col gap-16">
              <h2 class="text-h1 max-[860px]:text-h2 max-[860px]: max-[860px]: font-semibold leading-none">
                {blog.data.title}
              </h2>
              <p class="text-body leading-relaxed">{blog.data.description}</p>
            </div>
            <div class="flex gap-32 flex-wrap">
              <p class="text-sub leading-none">by {blog.data.author}</p>
              <time
                class="text-sub leading-none"
                datetime={blog.data.date.toISOString()}
              >
                {blog.data.date.toDateString()}
              </time>
              {blog.data.tags.map((tag) => (
                <p class="text-sub leading-none">{tag}</p>
              ))}
            </div>
          </div>
          <Image
            width={1240}
            height={720}
            src={blog.data.image}
            alt={blog.data.title}
            class="col-span-1 object-cover h-full border-l border-l-light-stroke"
          />
        </a>
      ))
    }
  </section>
</Layout>
