---
import { Button } from "@bibleio/design";
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";

const team = await getCollection("team");
---

<Layout title="Apps">
  <section id="main" class="flex flex-col px-256 max-[1550px]:px-0">
    <div
      id="container"
      class="flex flex-col gap-64 border-x border-stroke p-128 max-[680px]:px-16"
    >
      <code class="font-mono text-body text-text">README.md</code>
      <h1 class="font-mono text-h1 text-text"># About</h1>
      <p class="text-body leading-[220%] text-text">
        Bibleio is a Christian organization based on making innovative, modern
        free and open-source Bible and ministry software.
      </p>
      <h1 class="font-mono text-h1 text-text"># Why</h1>
      <p class="text-body leading-[220%] text-text">
        The Bible industry is full of copyright, paid software and restrictions.
        The software we have is old, outdated, restricted or paid. The world
        needs modern, free use Bible and ministry technology.
      </p>
      <h1 class="font-mono text-h1 text-text"># Manifesto</h1>
      <p class="text-body leading-[220%] text-text">
        Jesus tells us in Matthew 10:8, “Freely you received; freely give.” And no one followed that. Today, Bibles get commericalized and restricted online. When accessing translations online should be free, it actually isn't. We don't have much variety in Bible software, or any modern apps. Sure, what we have is good enough, but it can be better. We wan't to make something better, and amazing, for God.
      </p>
      <h1 class="font-mono text-h1 text-text"># Team</h1>
      <div class="grid grid-cols-2 max-[780px]:grid-cols-1 gap-24">
      {team.map((person: CollectionEntry<"team">) =>
        <div
          class="flex flex-col gap-16 rounded-12 border border-stroke bg-fg-1 p-32"
        >
          <div
            class=" flex w-full items-center gap-12 duration-150 ease-out "
          >
            <Image
              src={person.data.pfp}
              alt={`${person.data.name}'s profile picture`}
              width={48}
              height={48}
              class="size-48 rounded-full"
            />
            <h3
              class="text-h3 text-text duration-150 ease-out group-hover:text-accent-reversed"
            >
              {person.data.name}
            </h3>
          </div>
          <p class="text-sub text-text">{person.data.field.join(", ")}</p>
          <p class="text-body text-text">
            {person.data.description}
          </p>
          {person.data.links &&
            <div class="flex flex-wrap gap-16">
              {person.data.links.map((social: {name: string, link: string}) =>
                <a class="text-text size-[1.5rem] hover:text-accent-reversed duration-150" href={social.link} target="_blank">
                  <i class={`text-[1.5rem] ti ti-${social.name === "website" ? "world" : `brand-${social.name}`}`}></i>
                </a>
              )}
            </div>
          }
        </div>
      )}
      </div>
      <a
        href="https://cat-skate-e91.notion.site/Onboarding-132aafe2ea3c800ab45ddbe0a5db3da8?pvs=4"
      >
        <Button variant="secondary">Join us or contribute</Button>
      </a>
    </div>
  </section>
</Layout>
