---
const { text } = Astro.props;
---

<div class="flex gap-24 justify-end motion-translate-x-loop-[50%]/reset motion-duration-[25s] motion-ease-linear">
  <h1 class="text-h1 whitespace-nowrap leading-none text-text max-[580px]:text-h3">
    {text}
  </h1>
  <h1 class="text-h1 whitespace-nowrap leading-none text-text max-[580px]:text-h3">
    {text}
  </h1>
  <h1 class="text-h1 whitespace-nowrap leading-none text-text max-[580px]:text-h3">
    {text}
  </h1>
  <h1 class="text-h1 whitespace-nowrap leading-none text-text max-[580px]:text-h3">
    {text}
  </h1>
  <h1 class="text-h1 whitespace-nowrap leading-none text-text max-[580px]:text-h3">
    {text}
  </h1>
  <h1 class="text-h1 whitespace-nowrap leading-none text-text max-[580px]:text-h3">
    {text}
  </h1>
  <h1 class="text-h1 whitespace-nowrap leading-none text-text max-[580px]:text-h3">
    {text}
  </h1>
  <h1 class="text-h1 whitespace-nowrap leading-none text-text max-[580px]:text-h3">
    {text}
  </h1>
  <h1 class="text-h1 whitespace-nowrap leading-none text-text max-[580px]:text-h3">
    {text}
  </h1>
</div>
